body {
    color: white;
    background-color: rgb(36, 15, 104);
}

.chamada {
    background: rgb(156, 66, 156);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px;
  }

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}